
<html ng-app="WeddingBells">
    <head>
        <title>Divorceration Sensation</title>
        <!-- loading bootstrap -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/styles.css">

        <!--  https://cdnjs.com/libraries/angular.js/1.5.7 -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular.js"></script>

        <!--  Leaving the protocol off of a asset will allow the browser to prepend the correct protocol for you -->
        <!--  Bootstrap depends on jQuery, so it MUST be loaded first -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <!-- angular app file  -->
        <script type="text/javascript" src="main.js"></script>
    </head>
    <body class="container">
        <!-- BallAndChain maps to the string in our controller declaration in main.js -->
        <!-- YOU MUST SPELL THEM THE SAME -->
        <section ng-controller="BallAndChain as love">
            <h2>Metrics</h2>
            <ul>
                <li>Average age of couples: {{ love.averageAgeValue }}</li>
            </ul>
            <div ng-repeat="couple in love.info">
                <h3> {{ couple.year }}, duration: {{ couple.duration }}</h3>
                <table class="table table-striped">
                    <!-- <caption>You can put a table title here</caption> -->
                    <thead>
                        <tr>
                            <th>Age</th>
                            <th>Gender</th>
                            <th>Occupation</th>
                            <th>Education</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="spouses in couple.spouses">
                            <td>{{ spouses.age }}</td>
                            <td>{{ spouses.gender }}</td>
                            <td>{{ spouses.occupation }}</td>
                            <td>{{ spouses.education }}</td>
                        </tr>
                    </tbody>
                    <tfoot></tfoot>
                </table>
            </div>
        </section>
    </body>
</html>
