<html ng-app="myAppTwo">
  <head>
    <title>Into To Angular Part Two</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular.js"></script>
    <script type="text/javascript" src="main.js"></script>
    <link rel="stylesheet" href="main.css" type="text/css" />
  </head>
  <body ng-controller="myControllerTwo">
    <div>
      <!-- JS4.1 - Part II  -->
      <h1 class="header">Hello World</h1>
      <h2 class="header">Hello World</h2>
      <h3 class="header">Hello World</h3>

      <p ng-mouseover="turnPink()">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis luctus ultricies est, at vestibulum sem ultrices et. Suspendisse quis vestibulum lectus. Vestibulum elementum orci cursus massa lacinia, sit amet eleifend arcu vestibulum. Quisque eget lobortis elit. Phasellus auctor ligula ac felis bibendum dapibus. Nunc eu pellentesque orci. Donec fermentum libero eu sodales efficitur.</p>
      <p ng-mouseover="turnPink()">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et est nec enim lobortis congue in non sapien. Ut dignissim feugiat risus suscipit viverra. Sed euismod vehicula lorem. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
      <p ng-mouseover="turnPink()">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer volutpat lectus justo, in fringilla urna bibendum et. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed metus mauris, dictum vehicula orci non, consequat pharetra libero. Ut porttitor enim nibh, accumsan ultrices metus mattis ac. Nulla a tincidunt enim, nec interdum dui. Nunc maximus laoreet venenatis.</p>

      <a ng-click="confirmGoToURL()" href="http://www.google.com">Google</a>
      <a ng-click="confirmGoToURL()" href="http://www.amazon.com">Amazon</a>
      <a ng-click="confirmGoToURL()" href="http://www.apple.com">Apple</a>
    </div>
  </body>
</html>
